<%- include('partials/header'); -%>

<body>
  <!-- profile section -->
  <div class="container-fluid" id="introduction-section">
    <div class="profile-container">
      <img id="my-image" class="img-fluid" alt="Kebing Liu Profile" src="./images/myself.png">
      <div class="brief-intro">
        <h1 class="name">Hello, I'm Kebing Liu</h1>
        <p> I am a 3A BMath Data Science Student at University of Waterloo from Chongqing, China. <br>
          I love learning new stuffs and applying what I have learn to build projects! </p>
      </div>
      <a href="pdfs/Resume.pdf" class="btn btn-outline-light resume-link" target="_blank"> Checkout My Resume </a>
    </div>
  </div>

  <hr>

  <!-- skills section -->
  <div class="container-fluid" id="skills-section">
    <div class="skills-container row text-center">
      <div class="frontend-skills align-self-baseline container col col-lg-3 col-sm-6">
        <h2> Frontend Skills </h2>
        <% frontendSkills.forEach(function(skill) {%>
          <img src="<%= /images/skill.png %>" class="skills-images" alt=<%= skill %>>
          <p>
            <%= skill %>
          </p>
          <% }); %>
      </div>
    
      <div class="backend-skills align-self-baseline container col col-lg-3 col-sm-6">
        <h2> Backtend Skills </h2>
          <% backendSkills.forEach(function(skill) {%>
          <p>
            <%= skill %>
          </p>
          <% }); %>
      </div>
    
      <div class="machine-learning-skills align-self-baseline container col col-lg-3 col-sm-6">
        <h2> Machine Learning Skills </h2>
          <% MLSkills.forEach(function(skill) {%>
          <p>
            <%= skill %>
          </p>
          <% }); %>
      </div>
    
      <div class="other-skills align-self-baseline container col col-lg-3 col-sm-6">
        <h2> Other Skills </h2>
          <% otherSkills.forEach(function(skill) {%>
          <p>
            <%= skill %>
          </p>
          <% }); %>
      </div>
    </div>
  </div>

  <hr>

  <div class="container-fluid" id="projects-section">
    <div id="project-carousel" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://github.com/AEsir777/time_expense_management" target="_blank">
            <img src="./images/income-project.png" class="carousel-img d-block w-100">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>TO DO Web Application</h5>
            <p>TO DO web application using React as Frontend, Django as API and MangoDB as Database.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://github.com/AEsir777/some-data-analysis-project" target="_blank">
            <img src="./images/ML-project-img.jpg" class="carousel-img d-block w-100">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Machine Learning</h5>
            <p>Some Machine Learning Projects using Tensorflow on forecasting and image recognition.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://github.com/AEsir777/cc3k" target="_blank">
            <img src="./images/cc3k-project-img.png" class="carousel-img d-block w-100">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>CC3K</h5>
            <p>A CC3K game built with C++.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" data-bs-target="#project-carousel" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon text-bg-dark" aria-hidden="true"></span>
        <span class="sr-only visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" data-bs-target="#project-carousel" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon text-bg-dark" aria-hidden="true"></span>
        <span class="sr-only visually-hidden">Next</span>
      </a>
    </div>
  </div>
</body>

<%- include('partials/footer'); -%>
